.explore-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0px;
    overflow: hidden;
}

.explore-menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%; /* Make the images circular */
}

/* Only the active image rotates */
.image-container img.active {
    animation: rotateImage 3s linear infinite; /* Apply rotation only to the active image */
}

/* Keyframes for rotation effect */
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
